<header class="flexRow flexContent " >
    <div id="divid">
        <img class="avatarFoto" src="/img/avatares/{{{urlImagen}}}" alt="AVATAR">
    </div>
    <div class="flexCol divTitulo">
            <h2 class="ingreso"><span class="ingreso" id="saludo">Bienvenido/a </span>{{nombre}} {{{apellido}}}</h2>
            <h3 id="borrarElemento1"><span class="ingresoMail">{{{email}}}</span></h3>
    </div>
    <a class="btnLogout" href="/logout" id="boton" onclick="mostrarSaludo()">Desloguearse</a>
</header>
<main id="home"  class="flexRow flexContent">
    {{#if perfilExist}}
        {{>principal}}
    {{else}}
        {{#if crearProd}}
            {{>crearProducto}}
        {{else}}
            {{>perfil}}
        {{/if}}
    {{/if}}
</main>
<footer class="flexCol">
    <div>
        <p class="copyright">Todos los derechos Reservados &copy; | JUANBA Desarrolo Web</p>
    </div>
</footer>
    {{#if perfilExist}}
        <script src="../js/mensajes.js"></script>
        <script src="../js/productos.js"></script>
        <script src="../js/carrito.js"></script>
    {{else}}
        {{#if crearProd}}
            <script src="../js/productos.js"></script>
        {{else}}
            <script src="../js/prefijosTel.js"></script>
            <script src="../js/perfil.js"></script>
            <script src="../js/editarPerfil.js"></script>
        {{/if}}
    {{/if}}


