<div class="flexCol contentCenter">
    <div class="usuario " >
        <h1>Informacion de Programa ({{compIsTrue}})</h1>

        <h3>Argumentos de entrada: {{argumentos}}</h3>
        <h3>Sistema Operativo: {{sistema}}</h3>
        <h3>Version de Node: {{versionNode}}</h3>
        <h3>Memoria total reservada: {{memoria}}</h3>
        <h3>Ruta de Ejecucion: {{pathEjecucion}}</h3>
        <h3>Id de Proceso: {{proccessId}}</h3>
        <h3>Carpeta de Proyecto: {{carpetaProyecto}}</h3>
        <h3>Cantidad de Procesadores: {{cantProcesadores}}</h3>
        <div class="flexCol contentCenter">
            <a class="boton" id="borrarElemento2" href="/centroMensajes">Centro de Mensajes</a>
        </div>
    </div>
</div>

